{
    "port": 3000,
    "units": {
        "yamahareceiver": {
            "type": "yamahareceiver",
            "name": "Receivern",
            "hostname": "192.168.1.3"
        },
        "livingroom-ceiling": {
            "type": "telldusdimmmer",
            "name": "Vardagsrummet Tak",
            "id": 2
        },
        "livingroom-vitrine": {
            "type": "telldusswitch",
            "name": "Vardagsrummet Vintrinskåp",
            "id": 6
        },
        "keyboard": {
            "type": "kbbutton",
            "name": "Button",
            "keys": [ "KEY_P", "KEY_M" ],
            "device": "/dev/input/event3"
        },
        "jawbonesleep": {
          "token": "<insert your pushbullet token here>",
          "name": "Jawbone UP sleep mode",
          "type": "pushbullet",
          "match": "(enabled|disabled)",
          "matchGroup": 1
        },
        "livingroom-tv": {
            "type": "lgtv",
            "name": "Vardagsrummet TV",
            "device": "/dev/ttyUSB0",
            "baudrate": 9600
        }
    },
    "servers": [
        "http://localhost:4000"
    ],
    "policies": [
        "mattias/media"
    ]
}
