{
    "port": 3000,
    "units": {
        "yamahareceiver": {
            "type": "yamahareceiver",
            "name": "Receivern",
            "hostname": "192.168.1.3"
        },
        "vardagsrumstak": {
            "type": "tellduslight",
            "name": "Vardagsrummet Tak",
            "id": 2
        },
        "pbutton": {
            "type": "kbbutton",
            "name": "P-button",
            "keys": [ ]
        },
        "jawbonesleep": {
          "token": "<insert your pushbullet token here>",
          "name": "Jawbone UP sleep mode",
          "type": "pushbullet",
          "match": "(enabled|disabled)",
          "matchGroup": 1
        },
        "vardagsrumstv": {
            "type": "lgtv",
            "name": "Vardagsrummet TV",
            "device": "/dev/ttyUSB0",
            "baudrate": 9600
        }
    }
}
